# Ignore data files
*.csv
*.rds
*.RData
*.xlsx
*.pk


# Ignore log files
*.log
*.json
*.pth
*.sl
*.out
*.DS_Store
*.Rhistory

# Ignore specific directories
/save/
/.ipynb_checkpoints/
/__pycache__/
/.Rproj.user/
/data/
/simulations/

# Ignore temporary files
*.tmp
*.bak
